<%- include('../partials/head') %>



    <div class="wrapper">

        <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>
                <main>
                    <%- messages() %>
                        <%- body %>


                </main>



                <%- include('../partials/footer') %>

    </div>