<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/header') %>
           
        </header>
        <%- include('../partials/navigation') %>
        <main>
           
            <div class="wrapper">
                <%- messages() %>
                    <%- body %>
            </div>


        </main>

        </div>

        <%- include('../partials/footer') %>
    </body>